@import "./utils/global-styles";
@import "./utils/variables";
@import "./utils/disappear";

@import "./components/logo";
@import "./components/list";
@import "./components/link__icon";
@import "./components/link";
@import "./components/header";
@import "./components/button1";
@import "./components/button";
@import "./components/main-section";
@import "./components/main-section__header";
@import "./components/modal";
@import "./components/form";
@import "./components/button2";
@import "./components/box";
@import "./components/second-header";
@import "./components/thumb";
@import "./components/team";
@import "./components/clients";
@import "./components/footer";
@import "./components/newsletter";
@import "./components/card-set";
