.list {
  list-style-type: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  padding: 0;
  gap: 30px;
}

.list .link {
  display: flex;
  align-items: center;
}

.list.buttons {
  padding: 22px;
  margin-bottom: 34px;
  gap: 8px;
}

.list .link.contact {
  padding-right: 50px;
}
