:root {
  --brand-color: #2196f3;
  --background-color: #2f303a;
  --main-font-color: #212121;
  --secondary-font-color: #757575;
  --additional-color: #f5f4fa;
  --icons-color: #afb1b8;
  --icon-background-color: #e5e5e5;
}
